@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 0% 100%;
    --foreground: 176 0% 10%;
    --card: 176 0% 100%;
    --card-foreground: 176 0% 15%;
    --popover: 176 0% 100%;
    --popover-foreground: 176 95% 10%;
    --primary: 176 30.2% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 138 10% 95%;
    --muted-foreground: 176 0% 40%;
    --accent: 138 10% 90%;
    --accent-foreground: 176 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 176 0% 100%;
    --border: 176 20% 82%;
    --input: 176 20% 50%;
    --ring: 176 30.2% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 176 10% 10%;
    --foreground: 176 0% 100%;
    --card: 176 0% 10%;
    --card-foreground: 176 0% 100%;
    --popover: 176 10% 5%;
    --popover-foreground: 176 0% 100%;
    --primary: 176 30.2% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 138 10% 25%;
    --muted-foreground: 176 0% 65%;
    --accent: 138 10% 25%;
    --accent-foreground: 176 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 176 0% 100%;
    --border: 176 20% 50%;
    --input: 176 20% 50%;
    --ring: 176 30.2% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
